<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/bada18e626.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default" style="background-color:inherit">
    <div class="container">
      <div class="navbar-header">
        <nav  class="navbar-header">
          <i class="fa-solid fa-2xl fa-feather-pointed" style="color:#301B3F"></i>
        </nav>
       
        <p class="navbar-brand" style="color:#301B3F">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/"><i class="fa-solid fa-2x fa-house"></i></a></li>
          <li id="about"><a href="/about"><i class="fa-solid fa-2x fa-feather-pointed" ></i></a></li>
          <li id="contact"><a href="/contact"><i class="fa-solid fa-2x fa-address-book"></i></a></li>
         
         
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
