<%- include("partials/header"); -%>

<h2 class="typing-2">Sometimes we forget how strong and amazing we are.<br></h2>
 <h2 class="about-quote"> Journaling can remind you!</h2>

<span class=" big-heading">

  <p>
    DAILY JOURNAL helps you take this step!<br>
    We provide you our platform so that you can write from anywhere, without having to carry a journal around.<br>
    So, what's stopping you ? Get strated with our completely free platform to write and publish your Journal.<br>
    Well It is time to put that new year resolution to practice.<br>
    </p>
  </span> 
     
    <section id="features">
        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="f-icon fas fa-check-circle fa-4x"></i>
            <h3 class="f-text">Easy to use.</h3>
            <p>Daily journal provides an easy platform for you.</p>
          </div>
    
          <div class="feature-box col-lg-4">
            <i class=" f-icon fa-solid fa-keyboard fa-4x"></i>
           
            <h3 class="f-text">Compose</h3>
            <p>A single step to compose and publish.</p>
           
          </div>
    
          <div class="feature-box col-lg-4">
            <i class="f-icon fa-solid fa-book-open fa-4x"></i>
            <h3 class="f-text">Read</h3>
            <p>Access your published journal from the home page to read.</p>
          </div>
        </div>
      </section>
      

<%- include("partials/footer"); -%>