<%- include("partials/header"); -%>
<div>
  <h2 class="typing-3">"Dreams don't work unless you do"</h2>
    <span class="big-heading-2">
        <h1> If you like my work or have any queries<br>Do contact me!</h1>
        <div class="bottom">
          <a class="footer-link"  href="https://www.linkedin.com/in/swagatika-panda-b53069211"><i class="fa-brands fa-3x fa-linkedin"></i></a>
          <a  class="footer-link" href="https://twitter.com/swagati15466200"><i class="fa-brands  fa-3x fa-twitter"></i></a>
          <a  class="footer-link" href="https://www.facebook.com/me/"><i class="fa-brands  fa-3x fa-facebook"></i></a>
          <a  class="footer-link" href="https://www.instagram.com/messy_splashes/"><i class="fa-brands   fa-3x fa-instagram-square"></i></a>
          <a  class="footer-link"  href="mailto:panda.swagatika21102@gmail.com"><i class="fa-solid   fa-3x fa-envelope"></i></a>
          </div>
          <div class="footer">
              <p>  Made with <i class="fa-regular fa-heart"></i> by Swagatika</p>
            </div>
          
        
</span>
  
</div>

<%- include("partials/footer"); -%>