<%- include("partials/header"); -%>
<div>
    <a type="button" href="compose" class="btn btn-lg " id="button-start">
        GET STARTED
    <i class="fa-solid fa-2xl fa-pen-to-square" id="feather"></i>
        
    </a>
</div>
<%- include("partials/footer"); -%>